<!DOCTYPE html>
<html>
<head lang="en">
    <title>Spring Boot Example</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
</div>
</body>
                <center>
                    <div class="container">
                        <table>
                            <tr>
                                <td>
                                    <div>
                                        <b>
                                            Members:
                                        </b>
                                        <br>
                                        <br>
                                        <br>
                                        <ul>
                                            <li>Jouse Raul Villa Varela</li>
                                            <br>
                                            <li>Karen Andrea López Magaña</li>
                                            <br>
                                            <li>Merari Angelica Perdomo Figueroa</li>
                                            <br>
                                            <li>William Alejandro Recinos Ramirez</li>
                                            <br>
                                            <li>Rafael Armando Castro Guzman</li>
                                        </ul>
                                    </div>
                                </td>
                                <td>
                                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                </td>
                                <td>
                                    <div class="col-sm">
                                        <img src="../../static/images/inventario.webp" width="500"
                                            th:src="@{/images/inventario.webp}" />

                                    </div>
                                </td>
                            </tr>

                        </table>


                    </div>
                </center>
</html>
